*{
    padding: 0;
    margin: 0;
}
#root{
    direction: rtl;
    width: 100%;
}
@font-face {
    font-family: yekanb;
    src: url(./iran-DKieuUeF.woff);
  }
  @font-face {
    font-family: yekanm;
    src: url(./iran-DKieuUeF.woff);
  }